@tailwind base;
@tailwind components;
@layer components{
    .nav-icon{
        @apply h-8 cursor-pointer hover:text-gray-300
    }
    .sidebaropt{
        @apply flex font-semibold space-x-4 align-middle hover:bg-white hover:shadow-white hover:shadow-inner cursor-pointer w-full px-2 py-1 rounded-lg mb-3 
    }
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
@tailwind utilities;